@media (min-width: 1200px){
    .image-1{
        height:40em; background-size:cover; width:auto;
        background-image:url("../assets/images/bg-1.png");
        background-position:50% 50%;
      }
    
    
      .image-2{
        height: 40em; background-size:cover; width:auto;
        background-image:url("../assets/images/bg-2.png");
        position: relative;
        top: 377px;
      }
    
      .left-image{
        position: absolute;
        top: 466px;
        left: 136px;
      }
    
      .Background {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        box-shadow: 0 4px 12px 0 rgb(118 166 239 / 40%);
    }
    
    
    .navbar-brand{
        position: relative;
        left: 120px;
        right: 1677px;
    }
    
    .nav-item{
        text-align: left;
        font: normal normal normal 25px/34px Open Sans;
        letter-spacing: 0px;
        color: #222222;
        opacity: 1;
        margin-right: 25px;
    }
    .navbar ul {
        position: relative;
        right: 96px;
    }
    
    .nav-btn{
    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000033;
    border-radius: 24px;
    opacity: 1;
    width: 166px;
    text-align: center;
    
    
    }
    
    .nav-btn a {
        color: white;
    }
    
    .login-btn{
    box-shadow: 0px 0px 20px #00000033;
    border: 2px solid #663399;
    border-radius: 24px;
    opacity: 1;
    text-align: center;
    width: 118px;
    }

    /* .login-btn :active {
        background: #663399;
    } */

    .login-btn :hover {
        background: #663399;
        color: white;
        border-radius: 24px;
        box-shadow: 0px 0px 20px #00000033;
        border: 2px solid #663399;
        opacity: 1;
        text-align: center;
        width: 118px;
    }

    .getmoney-btn{
    margin-top: 20px;
    box-shadow: 0px 0px 20px #00000033;
    border-radius: 24px;
    opacity: 1;
    width: 130px;
    text-align: center;
    height: 42px;
    line-height: 41px;
    color: #663399;
    background: #FFFFFF;
    cursor: pointer;
    }

    .getmoney-btn:hover{
        background: #663399;
        color: white;
        }
    
    .progress-card{
            position: absolute;
            left: 1100px;
            top: 270px;
            width: 450px;
            height: 675px;
            border-radius: 35px;
    }
    
    .card-heading{
        padding: 15px;
    }
    
    .primary-card-body{
        padding: 55px;
    }

    .form-select{
        margin-top: 20px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    .form-select:focus{
        border-color: none;
        box-shadow: none;
    }
    
    .thoughts{
        position: absolute;
        top: 270px;
        left: 189px;
        height: 98px;
        width: 407px;
        font-size: 40px;
        font-family: Montserrat-Medium;
        text-align: left;
    }
    
    .secondary-card{
        width: 188px;
        position: absolute;
        left: 1556px;
        bottom: 120px;
        border-radius: 0px 35px 35px 0px;
        background: transparent;
        background-color: #663399;
        color: white;
        height: 500px;
        top: 370px;
    }

    .small-text{
     font-size: small;
     color: white;
    }
    
    
    .toggle-statement{
        color: grey;
        font-size: small;
    }
    
    .no-border {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: none; 
    }

    .cash-card{
        width: 391px;
        height: 253px;
        background: transparent;
        box-shadow: 0px 0px 30px #2321321F;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        opacity: 1;
        left: 191px;
    }

    .cash-card  :hover{
        background-color: #9F62C9;
        border-radius: 20px;
        opacity: 0.7;
        left: 191px;
        color:#FFFFFF;
    }

    .cash-card .card-text {
        font-size: small;
        color: grey;
    }

    .low-interest{
        width: 391px;
        height: 253px;
        background: transparent;
        box-shadow: 0px 0px 30px #2321321F;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        opacity: 1;
        left: 191px;
        top: 50px
    }

    .low-interest  :hover{
        background-color: #9F62C9;
        border-radius: 20px;
        opacity: 0.7;
        left: 191px;
        color:#FFFFFF;
    }

    .buisness-finances{
        width: 391px;
        height: 253px;
        background: transparent;
        box-shadow: 0px 0px 30px #2321321F;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        opacity: 0.7;
        left: 140px;
        top: 120px;
        background-color: #9F62C9;
        color: white;
    }

    .buisness-finances :hover{
        background-color: #9F62C9;
        border-radius: 20px;
        opacity: 0.7;
        left: 191px;
        color:#FFFFFF;
    }

    .covid-card{
        width: 391px;
        height: 253px;
        background: transparent;
        box-shadow: 0px 0px 30px #2321321F;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        opacity: 1;
        left: 140px;
        top: 210px;
    }

    .covid-card :hover{
        background-color: #9F62C9;
        border-radius: 20px;
        opacity: 0.7;
        left: 191px;
        color:#FFFFFF;
    }

    .zero-paperwork{
        width: 391px;
        height: 253px;
        background: transparent;
        box-shadow: 0px 0px 30px #2321321F;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        opacity: 1;
        left: 191px;
        top: 105px;
    }

    .zero-paperwork :hover{
        background-color: #9F62C9;
        border-radius: 20px;
        opacity: 0.7;
        left: 191px;
        color:#FFFFFF;
    }

    .bg-default{
        background: #FFFFFF;
    }
    .second-text{
        position: absolute;
        width: 490px;
        height: 98px;
        left: 1158px;
        top: 275px;
        font-size: 40px;
        text-align: left;
    }

    #exampleInputEmail1{
        margin-top: 20px;
    }

    .open-account-btn{
        top: 500px;
        position: absolute;
        left: 1158px;
        box-shadow: 0px 0px 20px #00000033;
        border: 2px solid #663399;
        border-radius: 24px;
        opacity: 1;
        width: 279px;
        height: 58px;
        text-align: center;
        line-height: 58px;
        font-size: 22px;
        color: #663399;
        cursor: pointer;
    }
    .open-account-btn:hover{
        color: #FFFFFF;
        background: #663399;
    }
 }

 @media (min-width: 2000px) and (max-width: 2600px) {
    .navbar ul {
        position: relative;
        right: 96px;
    }
    .progress-card{
        position: absolute;
        left: 1450px;
        top: 270px;
        width: 450px;
        height: 675px;
        border-radius: 35px;
}
   
.secondary-card{
    width: 188px;
    position: absolute;
    left: 1906px;
    bottom: 120px;
    border-radius: 0px 35px 35px 0px;
    background: transparent;
    background-color: #663399;
    color: white;
    height: 500px;
    top: 370px;
}
.buisness-finances{
    width: 391px;
    height: 253px;
    background: transparent;
    box-shadow: 0px 0px 30px #2321321F;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    opacity: 0.7;
    left: -20px;
    top: 120px;
    background-color: #9F62C9;
    color: white;
}
.covid-card{
    width: 391px;
    height: 253px;
    background: transparent;
    box-shadow: 0px 0px 30px #2321321F;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    left: -20px;
    top: 210px;
}

.second-text{
    position: absolute;
    width: 490px;
    height: 98px;
    left: 1483px;
    top: 275px;
    font-size: 40px;
    text-align: left;
}

.open-account-btn{
    top: 500px;
    position: absolute;
    left: 1526px;
    box-shadow: 0px 0px 20px #00000033;
    border: 2px solid #663399;
    border-radius: 24px;
    opacity: 1;
    width: 279px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    font-size: 22px;
    color: #663399;
    cursor: pointer;
}

  }
