<div class="image-1">
  <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logo.png" alt="banner-1" width="110" height="110">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item login-btn">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item nav-btn">
          <a class="nav-link" href="#">Get Started</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="thoughts">
    We Make It Super Simple
  </div>
  <div class="card progress-card">
    <div class="card-heading">
      <h5 class="text-center">
        Eligibility Calculator
      </h5>
    </div>
    <div class="card-body primary-card-body">
      <div>Monthly Income</div>
      <h4>₹ {{monthlyIncome}}</h4>
      <ngx-slider [options]="options" (userChange)="sliderEvent($event)"></ngx-slider>
      <div style="margin-top: 30px;">Monthly Expense</div>
      <h4>₹ {{monthlyExpense}}</h4>
      <ngx-slider [options]="options2" (userChange)="expenseChange($event)"></ngx-slider>
      <div style="margin-top: 30px;">Repayment Tenure</div>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>6 Months</option>
        <option value="1">12 Months</option>
        <option value="2">18 Months</option>
        <option value="3">24 Months</option>
      </select>
      <div class="d-flex bd-highlight mb-3" style="margin-top: 30px;">
        <div class="p-2 bd-highlight">
          <p class="toggle-statement">Do You Have Existing Loans ?</p>
        </div>

        <div class="ms-auto p-2 bd-highlight">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">EMI Existing Loan (optional)</label>
        <input type="email" class="form-control no-border" id="exampleInputEmail1" aria-describedby="emailHelp"
          value="₹ 1,50,000" placeholder="Enter email">
      </div>

    </div>
  </div>
  <div class="card secondary-card">
    <div class="secondary-card-heading">

    </div>
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body secondary-card-body">
      <div style="margin-top: 65%;">
        <p class="small-text">Loan Amount</p>
        <h4>₹ 1,00,000</h4>
      </div>
      <div class="small-text">
        <p>Loan Amount</p>
        <h4>₹ 1,00,000</h4>
      </div>
      <div class="getmoney-btn">
        <p>Get Money</p>
      </div>
    </div>
  </div>
  <div class="left-image">
    <img src="../assets/images/banner-1.png" alt="banner-1" width="652" height="365">
  </div>
  <!-- Your content -->
</div>
<div class="image-2">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="card cash-card">
            <div class="card-body">
              <img src="../assets/images/paid-instantly.png" alt="banner-1" width="90" height="90">
              <h5 class="card-title mt-3">Quick Card disbursment</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text mt-3">Get Term Loan that your Buisness need within 72hrs.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card buisness-finances">
            <div class="card-body">
              <img src="../assets/images/freelancer.png" alt="banner-1" width="90" height="90">
              <h5 class="card-title mt-3">Are You Buisness Finances</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text mt-3">Get Term Loan that your Buisness need within 72hrs.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card low-interest">
            <div class="card-body">
              <img src="../assets/images/Low interest.png" alt="banner-1" width="90" height="90">
              <h5 class="card-title mt-3">Low Interest Rate</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text mt-3">Get Term Loan that your Buisness need within 72hrs.</p>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="card covid-card">
            <div class="card-body">
              <img src="../assets/images/Covid.png" alt="banner-1" width="90" height="90">
              <h5 class="card-title mt-3">Loan To fight Covid 19</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text mt-3">Get Term Loan that your Buisness need within 72hrs.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card zero-paperwork">
            <div class="card-body">
              <img src="../assets/images/secure-paymnet.png" alt="banner-1" width="90" height="90">
              <h5 class="card-title mt-3">Zero Paperwork</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text mt-3">Get Term Loan that your Buisness need within 72hrs.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="second-text">
        Boost Your Buisness With Open
      </div>
      <div class="open-account-btn">
        Get an Open Account
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>